<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <div class="page">
        <main>
            <h1>Login Page</h1>
            <form class="product-form" action="/login" method="POST">
                <div class="form-control">                    
                    <input type="text" name="email" id="email" placeholder="Email/UserName">
                </div>
                <div class="form-control">                    
                    <input type="text" name="password" id="password" placeholder="password" required="required">
                </div>
                
                <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
            </form>
        </main>
        

    </div>
    
<%- include('../includes/end.ejs') %>    